<div class="container">
  <h1><%= @restaurant.name %></h1>

  <% @reviews.each do |review| %>
    <p><%= review.rating %> - <%= review.content %></p>
  <% end %>

  <div class="actions">
    <%= link_to "Add a new review",  new_restaurant_review_path(@restaurant) %><br>
    <%= link_to "Back to all restaurants", restaurants_path() %>
  </div>

</div>
