<div class="container">
  <h1>Add new review for <%= @restaurant.name %></h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>

  <div class="actions">
    <%= link_to "Back to restaurant", restaurant_path(@restaurant) %>
  </div>
</div>
